@import 'generic.scss';

.slide {
    @include fullScreen;

    video {
        @include fitVideo;
    }

    &.logo {
        display: flex;
        justify-content: center;
        align-items: center;

        opacity: 0;
        background: black;

        &.active {
            transition: 1s;
            opacity: 1;
        }

        img {
            width: 40vw;
        }

    }
}

.skip {
    background: white;
    padding: 1rem 3rem;
    font-size: 2rem;
    position: absolute;
    right: 3rem;
    bottom: 3rem;
    text-decoration: none;
    color: black;
    z-index: 100;
}