@import 'generic.scss';

.reveal {
    @include fullScreen;
    font-size: 5rem;

    .wrapper {
        width: 100vw;
        video {
            @include fitVideo;
        }
		&.video1 {color: #EFE7E7;}
    }

    &.top {
        background: black;
        z-index: 2;
        width: 95vw;
        overflow: hidden;

    }

    &.bottom {
        z-index: 1;
    }
}